body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url('pexels-photo-4622890.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

header {
    background: #4CAF50;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.05em;
}

header img {
    width: 2%;
    height: auto;
}

#full-width-banner {
    position: relative;
    width: 100%;
    max-height: 200px;
    display: block;
    margin-bottom: 100px;
}

#full-width-banner img {
    width: 100%;
    max-height: 100px;
    display: block;
    object-fit: cover;
    margin-bottom: 20px;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    padding: 10px;
    color: white;
}

.banner-text h1 {
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.banner-text p {
    font-size: 1rem;
    margin-top: 0.5em;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 1em;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    margin-top: 1em;
    margin-bottom: 2em;
}

#content-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-bottom: 1em;
}

.column img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

footer img {
    width: 6%;
    height: auto;
}

.footer-column {
    flex: 1;
}

@media (max-width: 768px) {
    #content-columns {
        grid-template-columns: 1fr;
    }

    .banner-text h1 {
        font-size: 1.5rem;
    }

    .banner-text p {
        font-size: 0.9rem;
    }

    footer {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
    }

    nav ul li {
        margin-bottom: 0.5em;
    }
}
